ul {
  margin: 0;
  padding: 0;
}
li {
  background-color: #7d8e95;
  color: whitesmoke;

  cursor: pointer;

  padding: 0.25em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  border-left: 4px solid transparent;
}
li:hover {
  color: thistle;
  border-left: 4px solid thistle;
}
