:host {
  height: 100%;
}
#app {
  height: 100%;

  display: flex;
  flex-direction: row; /* default */

  overflow: hidden;
}

@media screen and (max-width: 400px) {
  #app {
    flex-direction: column;
  }
}

#menu {
  height: 100%;
  flex: 1;
  overflow: auto;
}

#bridge-info {
  height: 100%;
  flex: 2;
}
