#bridge-form-template {
    margin: 1em;
    padding: 1em;
    border: 1px solid #7d8e95;

    max-width: 500px;
    margin-left: auto;
    margin-right: auto;

    display: grid;
    grid-template-columns: 0.3fr 1fr;
    grid-gap: 15px;
    align-items: center;
}

label {
    font-size: 1.1em;
}
input {
    font-size: 1.1em;
    padding: 0.3em;
    border: 1px solid darkgrey;
    border-radius: .25em;
}
input[type="submit"]{
    width: 150px;
    color: whitesmoke;
    background-color: #7d8e95;
}
input[type="submit"]:hover, 
input[type="submit"]:focus 
{
    background-color: #344648;
}
.button {
    grid-column: 2 / 3;
    text-align: right;
}
input:focus.ng-valid {
    outline: 2px solid olivedrab;
}
input:focus.ng-invalid {
    outline: 2px solid red;
}
#errors {
    grid-column: 1/3;
    color: red;

}